.Khung {
    width: 80%;
    height: 700px;
    position: relative;
    left: 150px;
    top: 20px;
}
.container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Box {
    width: 150px;
    height: 170px;
    border: 2px solid;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;    
}
img {
    width: 120px;
}
.Box span {
    margin-bottom: 150px;
    font-size: 16px;
    font-weight: bold;
}
.button-container>button {
    position: absolute;
    top: 200px;
    left: 880px;
    width: 120px;
    height: 50px;
    border: 1px solid;
    font-size: 20px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}
.button-container>button:focus {
    outline: none;

}
.button-container>button::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}
.button-container>button::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) skewX(-15deg);
}
.button-container>button:hover {
    background: #338033;
    cursor: pointer;
}
.button-container>button:hover::before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6s;
    transition: .7s;
}
.button-container>button:hover::after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}
.bet-container {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 240px;
    left: -30px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  .button1-container>button {
    position: absolute;
    top: 500px;
    left: 880px;
    width: 120px;
    height: 50px;
    border: 1px solid;
    font-size: 20px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}
.button1-container>button:focus {
    outline: none;

}
.button1-container>button::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}
.button1-container>button::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) skewX(-15deg);
}
.button1-container>button:hover {
    background: #338033;
    cursor: pointer;
}
.button1-container>button:hover::before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6s;
    transition: .7s;
}
.button1-container>button:hover::after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}
